.cv iframe {
    background-color: #282828;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    margin: auto;
    width: 50%;
    height: 700px;
}

.cv {
    display: block;
    padding-left: 550px;
    flex-direction: row;
    align-items: center;
}