.myNav img {
    float:left;
    width: 50px;
}

.card {
    background-color: #282828;
    height: 165px;
    width: 165px;    
    float: left;
    margin: 5px;

}

.card img {
    position: absolute;
}

.flipped .back {
    display: none;
}

.main-area {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.welcome-headline h2 {
    margin-top: 0px;
    font-size: 15px;
}

.buttons button{
    float: right;
    margin-top: 20px;
}

#start {
    width: 100px;
    height: 30px;
    border: 3px solid #282828;
    border-radius: 5px;
    background: #39ca74;
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    box-shadow: 0 3px 0 #282828;
    transition: 0.4 linear all;
}

#game-container {
    visibility: hidden;
    margin: 10px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 720px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #39ca74;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
}

.user-name {
    width: 120px;
    height: 30px;
    border: 3px solid #282828;
    border-radius: 5px;
    background: #39ca74;
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    box-shadow: 0 3px 0 #282828;
}

.best-game-time h2 {
    margin-top: 0px;
    font-size: 15px;
}
